<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons color="light"  slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Car services</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-checkbox>Towing</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Removal</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Jump Start</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Lock Smith</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox>Flat Tire</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
