#bg-image {
    background-image: url('../../assets/img/road.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#no-scroll .scroll-content {
    overflow: hidden;
}