<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>emergency-assist</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    
    
    <img src="assets/img/emergency.png" width="60%" height="30%" expand="block" (click)="setOpen(true)">
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>
            On our way

            <img src="assets/img/maps.png" alt="">
          </p>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-title size="large">Emergency assist</ion-title>
  <ion-header collapse="condense">
    <ion-toolbar>
      
      
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <p>tap the icon above to quickly notify our nearest workers in your zone for help</p>
  </div>
</ion-content>
