.center-image {
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    text-align: center; /* Centra el contenido dentro del contenedor (opcional) */
}
  