<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="clear" routerLink="/login">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        Log Out
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="clear">Help
        <ion-icon slot="end" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-img src="../../assets/img/Kings_Group-1_Logo-fit.png"></ion-img>
    <strong>Drive carefully</strong><br>
    <strong size="small">to live joyfully</strong>

    <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true" [autoplay]="true">
      <swiper-slide>
        <ion-card>
          <img src="assets/img/car-black-tow-truck.jpg">
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="assets/img/Auto-Locksmith.jpg">
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="assets/img/What-to-do-if-you-get-a-flat-tyre.jpg">
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img src="assets/img/jmrt-1616611851.jpg">
        </ion-card>
      </swiper-slide>

    </swiper-container>



    <ion-button routerLink="/emergency-assist" color="warning">EMERGENCY</ion-button><br><br>


    <strong>Services</strong>
    <ion-list lines="inset">
      <ion-item>
        <div class="centered-item">
          <img src="assets/img/carwash.png" alt="car" width="20%" height="100%" class="centered-image">
        </div>
        <div class="centered-item">
          <ion-button routerLink="/car-services" color="tertiary" class="centered-button">Car/Truck</ion-button>
        </div>
      </ion-item>
      <ion-item>
        <div class="centered-item">
          <img src="assets/img/motorbike.png" alt="motorbike" width="20%" height="100%" class="centered-image">
        </div>
        <div class="centered-item">
          <ion-button routerLink="/motorcycle-services" color="tertiary" class="centered-button">Motorcycle</ion-button>
        </div>
      </ion-item>
    </ion-list>
    
    
  </div>
</ion-content>